#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Microsoft 365 Blog
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bcefaldafiiklpgklmdbembopchanhjd
Icon=chrome-bcefaldafiiklpgklmdbembopchanhjd-Default
StartupWMClass=crx_bcefaldafiiklpgklmdbembopchanhjd
